body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Wrapper-div som holder både main og header */
.mainContainer {
    display: flex;
    flex: 1;
    flex-direction: row; /* Sikrer at innholdet plasseres horisontalt */
}

/* Main-innhold: fyller resten av siden til venstre */
main {
    flex-grow: 1; /* Fyller tilgjengelig plass */
    padding: 20px;
    text-align: center; /* Sentraliserer tekst */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Flytter footer-innholdet til bunnen */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Skygge på høyre for å skille headeren */
    height: 100vh; /* Fyller hele venstresiden */
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Justerer innholdet til venstre */
}

/* Stiler for navigasjonsmenyen */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 10px 0;
}

/* Stil for logo */
#logo {
    max-width: 100px;
    height: auto;
    margin-bottom: 20px;
}

/* Stiler for footer-content */
.footer-content {
    text-align: center;
}